# Core
numpy
pandas
pyyaml
pytest

# Signal processing & visualisation
scipy
matplotlib
plotly

# Machine learning
scikit-learn

# For ML
torch

# For geospatial processing (optional)
# rasterio
# geopandas
